﻿div.center {
	width:1100px;
	margin:0 auto;
}
div.content {
	width:1000px;
	margin:0 auto;
}
div.error {
	color:red;
	font-size:28px;
	font-weight:bold;
}
button {font-size:30px;}
h1 {
	color:white; background-color:red; text-align:center;
}
h2 {
	color:red; background-color:pink; text-align:center;
}