@charset "utf-8";
/* CSS Document */

body {
	font-weight:bold;
	font-size:22px;
}

div#main {
	width:1020px;
	margin-left:auto;
	margin-right:auto;
}
div#content {
	width:1000px;
/*	margin:0 auto; */
}
#header1 {
	background-color:blue;
	color:white;
	width:1020px;
	text-align:center;
}
#header2 {
	width:1020px;
}
p.next {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
button#next {
	background-color:#F00;
	font-size:36px; font-weight:bold;
	color:#FFF;
}
button#next2 {
	background-color:#F00;
	font-size:24px; font-weight:bold;
	color:#FFF;
}
button#ret {
	background-color:skyblue;
	color:#FFF;
	border:#000 solid 4px;
}	
div.center_button {
	width:400px;
	margin:0 auto;
}

