@charset "utf-8";
/* CSS Document */

table {margin:20px auto;}
td {margin-top: 4px; margin-bottom:4px; margin-left:4px;
	padding-left:10px; padding-bottom:4px; padding-top:4px;
	text-height:max-size;}
.even {background:#F3C;color:white;}
.odd {background:#600; color:white;}
h1#tophead {
	font-size:40px;
	line-height:150%;
	border:red solid 8px;
	background:red;
}