﻿#error_summary {
	color: #F00;
	display: none;
	font-size:14px; font-weight:bold;
}
.error_field {
	background-color:#F9C;
}
.error_mark {
	color: #F00;
}
div.field {
	font-size:22px;
	color:blue;
	font-weight:bold;
	height:40px;
	margin-left:50px;
}
div.center {
	width:1100px;
	margin:0 auto;
}
label {
	display:block;
	float:left;
/*	width:550px; */
}
input {
	background-color:yellow;
	color:#660000;
	font-size:24px;
	font-weight:bold;
	border:red solid 2px;
	text-align:left;
	margin-left:30px;
}
input#is_male {width:100px; text-align:left;}
div#sub {width:400px; margin:0 auto;}
button {font-size:30px;}
h1 {
	color:white; background-color:blue; text-align:center;
}
span#repeat {color:red;}