/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 10px;
  padding-bottom: 0px;
}
.btn-container-500 {
	width:500px;
	margin-left:auto; margin-right:auto;
}
.btn-container-400 {
	width:400px;
	margin-left:auto; margin-right:auto;
}
.btn-container-200 { width:200px; margin-left:auto; margin-right:auto;}
caption.thick {
	text-align:center; font:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace; font-size: 28px; font-weight: bold; background-color:black; color:white; padding-top:10px; padding-bottom:10px;
}
h2 {font-size:14px; color:blue;}
#hp_dr {width:1000px; font-size:14px; font-weight:bold; color:white; background-color:brown;}
.right {text-align:right;} .left {text-align:left:} .center {text-align:center;}

		.dark_back {border:red solid 1px;}
		.green_back {background-color:rgba(0,159,11,1.00);text-align:center;font-size:26px; color:white;}
		.pink_back {font-weight:bold; font-size:20px; text-align:center; color:red;}
		.blue_back {background-color:hsla(246,100%,49%,1.00); font-size:18px; color:white; text-align:center;}
		.tab_box {text-align:center; font-size:22px; font-weight:bold; color:white;}
		.in_box {margin:4px; background-color:blue;}
		.this_sceen {background-color:red;}  .other_sceen {background-color:grey;}
		.line2 {border-bottom:rgba(159,94,1,1.00) 2px solid;}
		.not_usable {display:none; }   .usable {visibility:visible;}
		.cancel {font-size:16px; background-color:red;} .enter_modify {font-size:32px; background-color:green;}
		.header {background-color:brown; font-size:36px; text-align:center; font-weight:bold; color:yellow;}
		input {font-size:16px; font-weight:bold; background-color:black; color:yellow; text-align:right; padding-right:4px; width:60px;}
		input.wide {font-size:16px; font-weight:bold; background-color:black; color:yellow; text-align:right; padding-right:4px; width:400px; height:36px;}
		input.more_wide {font-size:16px; font-weight:bold; background-color:black; color:yellow; text-align:right; padding-right:4px; width:800px; height:36px;}
		select {font-size:14px; font-weight:bold; background-color:yellow; color:brown;}
		.super {vertical-align:super; font-size:xx-small;}
		
	li { font-size:14px; line-height:22px;border:yellow 1px solid;width:600px; background-color:#666; color:white;margin-left:auto;margin-right:auto;}
	ul { margin-left:auto; margin-right:auto; }
	h1 {width:600px; background-color:blue; color:white; margin-left:auto; margin-right:auto; text-align:center;}
	h1.exc {padding:10px; background-color:red;}
	h1.inc {padding:10px; background-color:hsla(181,95%,50%,1.00);}
	.left100 {width:90%; margin:12px auto; font-size:18px; font-weight:bold; color:white; background-color:hsla(310,80%,90%,1.00); padding:5px 0px;}
	.left100:hover {background-color:hsla(359,97%,49%,1.00);}
	.right100 {width:90%; margin:12px auto; font-size:18px; font-weight:bold; color:white; background-color:hsla(216,90%,69%,1.00); padding:5px 0px;}
	.right100:hover {background-color:hsla(241,100%,48%,1.00);}
	#accept {width: 350px;font-size:28px; font-weight:bold;text-align:center;border-radius: 20px; -webkit-box-shadow: 2px 2px  3px #00f inset,5px 5px  10px #000; padding:10px; background-color:green; color:yellow; border:yellow 6px solid;}
	a:link {color:#F8F901; text-decoration:none;}
	a:hover {background-color: yellow; color:green; border:green 6px solid; text-decoration:none;}
	button.left {font-size: 18px; text-align:left;}
	div#main {width:800px; margin-left:auto; margin-right:auto;}
	div#hp_dr {font-size:14px; font-weight:bold; color:white;}
	div#hp {text-align:left; float:left; padding-left:20px;}
	div#dr {text-align:right; padding-right:20px;}
	#cancel_enter {width:800px; margin:0px auto; text-align:center;}
	#enter {width: 800px; border:#090 10px solid; background-color:#0F3; font-size:42px; font-weight:bold; color:yellow;text-align:center;box-shadow:2px 2px 10px #666;-moz-box-shadow:2px 2px 7px #666;　/* Firefox */ -webkit-box-shadow:2px 2px 7px #666;    /* Safari,Google Chrome */}
	#enter_modify {width: 800px; border:#090 10px solid; background-color:#0F3; font-size:42px; font-weight:bold; color:yellow;text-align:center;box-shadow:2px 2px 10px #666;-moz-box-shadow:2px 2px 7px #666;　/* Firefox */ -webkit-box-shadow:2px 2px 7px #666;    /* Safari,Google Chrome */}
	#cancel {width: 600px;border:#F6F; background-color:red; color:white; font-size:28px; font-weight:bold; text-align:center;box-shadow:2px 2px 10px #666;-moz-box-shadow:2px 2px 7px #666;　/* Firefox */ -webkit-box-shadow:2px 2px 7px #666;    /* Safari,Google Chrome */}
	.d {background-color:yellow; color:brown; font-style:italic; text-align:center;height: 22px; border:inset; margin-left: 3px; margin-right:3px; padding-left:3px; padding-right:3px;}
	.red {font-style:normal; text-align:center; color:white; font-weight:bold; background-color:red; height:22px; border:outset; margin-left:3px; margin-right:3px; padding-left:3px; padding-right:3px}
	.dtitle {font-style:normal; text-align:center; color:black; font-weight:bold; background-color:hsla(0,2%,76%,1.00); height:22px; border-bottom:1px white solid; border-top:1px white solid;}
	.dtitle_wide {font-style:normal; text-align:center; color:black; font-weight:bold; background-color:hsla(0,2%,76%,1.00); height:24pxpx; border-bottom:1px white solid; border-top:1px white solid;}
	li.title {font-size:16px; border:white 2px solid; background-color:blue; color:white; text-align:center;}
	div#main_container {background-image:url(../../new_cases/case_registration/background_modification.png);}
	div#main_container_new {background-image:url(../../new_cases/case_registration/background_new.png);}
	input#auth_dr  {width: 800px; border:#090 10px solid; background-color:#0F3; font-size:42px; font-weight:bold; color:yellow;text-align:center;box-shadow:2px 2px 10px #666;-moz-box-shadow:2px 2px 7px #666;　/* Firefox */ -webkit-box-shadow:2px 2px 7px #666;    /* Safari,Google Chrome */}
		