/* CSS Document */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.white {color:white; }
.red {color:red;}
.blue {color:blue;}
a:hover {color:red;}
.bold {font-weight:bold;}
th {text-align:center;}
td {text-align:center;}
td.bg-red {background-color:hsla(304,83%,76%,1.00);}
th.holiday {background-color:pink; color:red;}
.holiday {background-color:pink; color:red;}
.m {background-color:hsla(182,95%,60%,0.69);}
.a {background-color:hsla(144,98%,24%,0.64);}
div.block {width:40px; height:20px; border:2px solid black; float:left;}
div.space {width:80px; height:20px; float:left;}



