@charset "utf-8";
/* CSS Document */

#out{ background-color:#99FFFF;}
#out0{	width:800px; height:700px; margin:auto; background-color:#FF0; margin-top:50px; }
#out1{	width:600px; heigh:350px; margin-left:200px; margin-top:50px; }
#imgdiv{width:480px; margin-left:auto; margin-right:auto;margin-top:30px;}
.login{font-size:16px; font-weight:bold; color:#990000;}
